language: generic

matrix:
  include:
    - os: osx
      osx_image: xcode7.3
    - os: osx
      osx_image: xcode7.2
    - os: osx
      osx_image: xcode7.1
    - os: osx
      osx_image: xcode7
    - os: osx
      osx_image: xcode6.4
    - os: osx
      osx_image: xcode6.3
    - os: osx
      osx_image: xcode6.2

install:
  - curl -L https://www.chef.io/chef/install.sh | sudo bash -s -- -P chefdk
  - chef exec bundle update

script:
  - env
  - chef exec bundle exec rake
  - KITCHEN_YAML=.kitchen.localhost.yml chef exec bundle exec kitchen test
